body {
    background: rgb(95, 95, 255);
    font: normal 15pt Arial;
}

header {
    color: white;
    text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

#imagem {
    display: block;
    margin-top: 5%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 50%;
    width: 250px;
    height: 250px;

}

#periodo {
    text-align: center;
    border: 1px solid black;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.329);
    padding: 15px;
    margin: 0 10px 0 10px;
}